<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlogs</title>
</head>
<body>
    <nav>
        <div class = "site-title"></div>
            <a href="/"><h1>About</h1></a>
            <p>My website</p>
        </div>
        <ul>
            <li><a href="/">Blogs</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/blogs/create">New blog</a></li>
        </ul>
    </nav>
    
    <div class="about content">
        <h2>NOT FOUND!!</h2>
    </div>
    
</body>
</html>