<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlogs</title>
</head>
<body>
    <%- include('./partials/nav.ejs')%> 
    <div class="blogs content">
        <h2>All blogs | <%=title %> </h2>
    </div>

    <% if (blogs.length > 0)  {%> 
        <% blogs.forEach(blog => { %> 
            <h3 class ="title"><%=blog.title %></h3>
            <p class ="snippet"><%=blog.snippet %> </p>
            <p clas></p>
        <% }) %> 
    <% } else { %>
        <p>There are no existing blogs to display.</p> 
    <% } %> 


    
</body>
</html>